body{
    background-color: orange;
    text-allign:center;
    color:blue;
}

#tehlulz{
    font-size:10em;
}

#extreme{
    font-size: 3em;
}

#prose{
    font-weight:bold;
}

h2{
    text-color:red;
}